<head>
	<meta charset="UTF-8">
</head>
<body>
	{% if form.errors %}
		<p>Usuario y/o contraseña inválidos. Intente de nuevo, por favor.</p>
		{{ errors }}
	{% endif %}

	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}

		<table>
			<tr>
				<td>{{ form.username.label_tag }}</td>
				<td>{{ form.username }}</td>
			</tr>
			<tr>
				<td>{{ form.password.label_tag }}</td>
				<td>{{ form.password }}</td>
			</tr>
		</table>

		<input type="submit" value="login"/>
	</form>
</body>
